<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naiyin.healthy.mapper.DoctorExamineMapper">

    <resultMap id="BaseResultMap" type="com.naiyin.healthy.model.entity.DoctorExamine">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="doctorInfoId" column="doctor_info_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,doctor_info_id,description,
        result,operation_time,create_time,
        is_delete
    </sql>
</mapper>
