<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naiyin.healthy.mapper.MessageAllMapper">

    <resultMap id="BaseResultMap" type="com.naiyin.healthy.model.entity.MessageAll">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="messageType" column="message_type" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message_type,content,
        operation_time,create_time,is_delete
    </sql>
</mapper>
